* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Smythe", system-ui;
}

.container,
.item-container,
.order-summary-container {
    width: 600px;
    margin: 0 auto;
}

.header {
    color: white;
    width: 100%;
    height: 168px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("img/header.png");
    background-size: cover;
    margin-bottom: 30px;
}

.title,
.tag-line {
    padding-left: 50px;
}

.title {
    font-size: 39px;
    font-weight: 600;
}

.tag-line {
    font-size: 22px;
}

.item-container {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: auto 30px 30px 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #d2d2d2;
}

.item-img {
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-detail {
    line-height: 30px;
}

.item-title {
    font-weight: 400;
}

.item-ingredients {
    color: #8b8b8b;
}

.item-price {
    font-size: 20px;
    font-weight: bold;
}

.add-item-btn {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.add-item-btn button {
    background-color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid #d2d2d2;
    cursor: pointer;
}

.order-summary__header {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
}

.order-items {
    display: flex;
    margin: auto 30px;
    align-items: center;
    gap: 15px;
    padding-bottom: 20px;
    border-bottom: 2px solid #393333;
    margin-bottom: 20px;
}

.order-item__name,
.order-total__label {
    font-size: 28px;
}

.order-item__remove {
    font-size: 12px;
    color: #bbbbbb;
}

.order-item__price {
    font-size: 20px;
    margin: auto 0 auto auto;
}

.order-total {
    display: flex;
    margin: auto 30px;
    align-items: center;
    margin-bottom: 20px;
}

.order-total__amount {
    font-size: 20px;
    margin: auto 0 auto auto;
    margin-bottom: 30px;
}

.complete-order {
    display: flex;
    justify-content: center;
}

.btn-complete-order {
    background-color: #16db99;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    height: 60px;
    color: white;
    margin: auto 30px;
    border: none;
    margin-bottom: 40px;
}
